.contain{
    margin-top: 170px;
      color: white;
      width: 40%;
      margin-left: 50px;
      background:#5FC1AA;
      border-radius: 10px;
      text-align: center;
      color: white;
    
  
  }

.Table, thead, tbody,tr{
  text-align: center;
  font-size: large;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 80%;
}